apiVersion: apps/v1                                                         # Versão da API do Kubernetes usada para criar Deployments
kind: Deployment                                                            # Tipo do objeto: Deployment cria réplicas e faz rollout
metadata:
  name: fcg-users                                                           # Nome do Deployment

spec:
  replicas: 2                                                               # Quantas réplicas (pods) deve inicializar
  selector:                                                                 # Selector: identifica quais pods pertencem a este Deployment
    matchLabels:
      app: fcg-users

  template:                                                                 # Template: modelo usado para criar cada Pod
    metadata:
      labels:                                                               # Labels aplicadas nos Pods criados
        app: fcg-users

    spec:
      containers:                                                           # Lista de containers dentro do Pod
        - name: fcg-users-container                                         # Nome do container
          image: acrfcg.azurecr.io/fiapcloudgames/users/api:${IMAGE_TAG}    # Imagem do container no ACR
          ports:                                                            # Porta exposta internamente no container
            - containerPort: 8080
          resources:
            limits:
              # =========================
              # CPU
              # =========================
              # 2 nodes Standard A2 v2 com 2 vCPU cada = 4 vCPU totais
              # 4 vCPU (total) - 0,4 vCPU (uso interno do Kubernetes) = 3,6 vCPU
              # 3,6 vCPU / 10 pods = 0,36 vCPU (360 milicores)
              cpu: 360m
              
              # =========================
              # MEMORY
              # =========================
              # 2 nodes Standard A2 v2 com 4 GiB cada = 8 GiB totais
              # 8 GiB (total) - ~1,3 GiB (uso interno do Kubernetes) = 6,7 GiB disponíveis
              # 6,7 GiB / 10 pods = 670 Mi por pod
              # Limit ajustado para evitar OutOfMemory e permitir burst controlado
              memory: 600Mi
              
            requests:
              cpu: 250m         # Sobra ~1,1 vCPU para kube-system + picos
              memory: 500Mi     # Sobra ~1,7 GiB para kube-system + DaemonSets
          env:
            # from ConfigMap
            - name: NEW_RELIC_APP_NAME
              valueFrom:
                configMapKeyRef:
                  name: fcg-users-config
                  key: NEW_RELIC_APP_NAME

            - name: NewRelic__Enabled
              valueFrom:
                configMapKeyRef:
                  name: fcg-users-config
                  key: NewRelic__Enabled

            - name: NewRelic__Endpoint
              valueFrom:
                configMapKeyRef:
                  name: fcg-users-config
                  key: NewRelic__Endpoint

            - name: AspNetCore_Environment
              valueFrom:
                configMapKeyRef:
                  name: fcg-users-config
                  key: AspNetCore_Environment

            # from Secret
            - name: ConnectionStrings__FCGUsersDbConnection
              valueFrom:
                secretKeyRef:
                  name: fcg-users-secret
                  key: FCG_DB_CONNECTION_STRING

            - name: NEW_RELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: fcg-users-secret
                  key: NEW_RELIC_LICENSE_KEY
